<%= form_with model: @post do |form| %>
  <div class="form-field">
    <%= form.label :title, "Post Title" %>
    <%= form.text_field :title, placeholder: "Enter your post title..." %>
  </div>

  <div class="form-field">
    <%= form.label :body, "Post Content" %>
    <%= form.rich_text_area :body %>
  </div>

  <div class="form-actions">
    <%= form.submit class: "primary-button" %>
  </div>
<% end %>
