<div class="review-show">
  <div class="btns">
    <%= button_to "Edit", edit_review_path, review: @review, method: :get if authenticated? %>
  <%= button_to "Delete", review_path(@review), method: :delete,
    data: { turbo_confirm: "Delete review?" } if authenticated? %>
  </div>
  <h1><%= @review.title %></h1>
  <% if @review.main_image.present? %>
    <img src="/assets/<%= @review.main_image %>" alt="<%= @review.title %>" class="review-main-image">
  <% end %>
  <% if @review.author.present? %>
    <h2 class="review-author"> <%= @review.author %></h2>
  <% end %>
  <p class="review-meta">
    <%= @review.review_type.name %> | Rating: <%= @review.rating %>/5 | <%= @review.created_at.strftime("%a %b %e %Y") %>
  </p>
  <% if @content.present? %>
    <div class="review-content">
      <%= @content %>
    </div>
  <% end %>
</div>
